<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/book.css}"/>
    <title th:text="${title}"></title>
</head>
<body>
<nav>
    <h2>Menu</h2>
    <div th:utext="${navigation}"></div>
    <div th:if="${form} == false">
        <form th:action="@{/login}" method="POST">
            <input type="text" name="cardnumber" th:placeholder="CardNumber"
            /> <br/>
            <input type="password" th:placeholder="Password"
                   name="password"/> <br/>
            <input type="Submit" value="submit"/>
        </form>
    </div>
</nav>
<section>
    <form action="#" method="post" role="form" th:action="@{/admin/users/add}" th:object="${user}">
        <h2 th:if="${error}">Istnieje użytkownik o takim numerze karty!</h2>
        <label>Card number</label><br/>
        <input placeholder="Numer Karty" th:field="*{cardNumber}" type="text"/><br/>
        <label>Name</label><br/>
        <input placeholder="Name" th:field="*{name}" type="text"/><br/>
        <label>Last name</label><br/>
        <input placeholder="Last name" th:field="*{lastName}" type="text"/><br/>
        <button type="submit">Dodaj</button>
    </form>
</section>
</body>

</html>