<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/book.css}"/>
    <title th:text="${title}"></title>
</head>
<body>
<nav>
    <h2>Menu</h2>
    <div th:utext="${navigation}"></div>
    <div th:if="${form} == false">
        <form th:action="@{/login}" method="POST">
            <input name="cardNumber" th:placeholder="CardNumber" type="text"
            /> <br/>
            <input type="password" th:placeholder="Password"
                   name="password"/> <br/>
            <input type="Submit" value="submit"/>
        </form>
    </div>
</nav>
<section>
<div th:switch="${exist}">
    <div th:case="true">
    <form  action="#" method="post" th:object="${user}" role="form" >
        <label>ID</label><label th:field="*{cardNumber}" th:text="${user.cardNumber}"></label><br/>
        <input type="text"  placeholder="Name"  th:field="*{name}" required="required"/><br/>
        <input type="text"  placeholder="Nazwisko"  th:field="*{lastName}" required="required"/><br/>
        <input type="text"  placeholder="Aktywny"  th:field="*{active}" required="required"/><br/>
        <button type="submit" >Zmień</button>
    </form></div>
    <div th:case="false"><h1 class="noExist">Użytkownik nie istnieje!</h1></div>

</div>
</section>
</body>

</html>