<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/book.css}"/>
    <title th:text="${title}"></title>
</head>
<body>
<nav>
    <h2>Menu</h2>
    <div th:utext="${navigation}"></div>
</nav>
<section>
<table>
    <tr>
        <td>Id ksiązki</td>
        <td>Tytuł</td>
        <td>Autor</td>
        <td>Status</td>
        <td>Data wypożyczenia</td>
    </tr>
    <tr th:each="currentBook, stat :${bookList}">
        <div class="left">
            <td th:text="${currentBook.id}"></td>
            <td th:text="${currentBook.name}">Tytul</td>
            <td th:text="${currentBook.author}">Autor</td>
            <td th:text="${currentBook.currentBorrow.borrow_date}"/>
            <td th:text="${currentBook.currentBorrow.status}"/>
        </div>
    </tr>
</table>
</section>
</body>

</html>