<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/book.css}"/>
    <title th:text="${title}"></title>
</head>
<body>
<nav>
    <h2>Menu</h2>
    <div th:utext="${navigation}"></div>
    <div th:if="${form} == true">
        <form th:action="@{/login}" method="POST">
            <input type="text" name="cardnumber" th:placeholder="CardNumber"
            /> <br/>
            <input type="password" th:placeholder="Password"
                   name="password"/> <br/>
            <input type="Submit" value="submit"/>
        </form>
    </div>
</nav>
<section>
<form th:action="@{/admin/users/add}" action="#" method="post" th:object="${user}"  role="form">
    <h2 th:if="${error}">Istnieje użytkownik o takim numerze karty!</h2>
<input type="text" th:field="*{cardnumber}" placeholder="Numer Karty" /><br/>
<input type="text" th:field="*{name}" placeholder="Imie" /><br/>
<input type="text" th:field="*{lastName}" placeholder="Nazwisko" /><br/>
    <button type="submit" >Dodaj</button>
</form>
</section>
</body>

</html>