<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/book.css}"/>

</head>
<body>
<nav>
</nav>
<section>
<form th:action="@{/admin/users/add}" action="#" method="post" th:object="${user}"  role="form">
    <h2 th:if="${error}">Istnieje użytkownik o takim numerze karty!</h2>
<input type="text" th:field="*{cardnumber}" placeholder="Numer Karty" /><br/>
<input type="text" th:field="*{name}" placeholder="Imie" /><br/>
<input type="text" th:field="*{lastName}" placeholder="Nazwisko" /><br/>
    <button type="submit" >Dodaj</button>
</form>
</section>
</body>

</html>