<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/book.css}"/>

</head>
<body>
<nav>
    <nav>
        <h1>Menu</h1>
        <ul>
            <li>Index</li>
            <li><a href="../book/">Książki</a></li>
            <li>index</li>
            <li>index</li>
            <li><a href="../contact">Kontakot</a> </li>
        </ul>
        <h1>Panel Użytkownika</h1>
    </nav>
</nav>
<section>
    Kontakt mTrepka@outlook.com
</section>
</body>

</HTML>