<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${title}"></title>
</head>
<body>
<nav>
	<h2>Menu</h2>
	<div th:utext="${navigation}"></div>
	<div th:if="${form} == true">
		<form th:action="@{/login}" method="POST">
			<input type="text" name="cardnumber" th:placeholder="CardNumber"
			/> <br/>
			<input type="password" th:placeholder="Password"
				   name="password"/> <br/>
			<input type="Submit" value="submit"/>
		</form>
	</div>
</nav>
	<form th:action="@{/}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
	</form>	
	
	<div class="container">
		<div >
			<div >
				<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<h2>Registration Form</h2>
						<input type="text" th:field="*{name}" placeholder="Name"
								class="form-control" /><br/>
							<input type="text" th:field="*{lastName}"
								placeholder="Last Name" class="form-control" /><br/>
							<input type="text" th:field="*{login}" placeholder="Login"
								class="form-control" /><br/>
							<input type="password" th:field="*{password}"
								placeholder="Password" class="form-control" /><br/>
							<button type="submit" class="btn btn-primary btn-block">Register User</button>
				</form>
			</div>
		</div>
	</div>

</body>
</html>