<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/book.css}"/>
    <title th:text="${title}"></title>
</head>
<body>
<nav>
    <h2>Menu</h2>
    <div th:utext="${navigation}"></div>
    <div th:if="${form} == true">
        <form th:action="@{/login}" method="POST">
            <input type="text" name="cardnumber" th:placeholder="CardNumber"
            /> <br/>
            <input type="password" th:placeholder="Password"
                   name="password"/> <br/>
            <input type="Submit" value="submit"/>
        </form>
    </div>
</nav>
<section>
<table>
    <tr>
        <td>Id ksiązki</td>
        <td>Tytuł</td>
        <td>Autor</td>
        <td>Data wypożyczenia</td>
    </tr>
    <tr th:each="currentBook, stat :${bookList}">
        <div class="left">
            <td th:text="${currentBook.id}"></td>
            <td th:text="${currentBook.name}">Tytul</td>
            <td th:text="${currentBook.author}">Autor</td>
            <td th:each="currentBorrow, stat :${currentBook.bookborrow}">
                <div th:switch="${currentBorrow.id}">
            <div th:case="${currentBook.currentBorrowId}">
            <div th:text="${currentBorrow.borrow_date}"></div>
            </div>
            </div>
        </td>
        </div>
    </tr>
</table>
</section>
</body>

</html>